@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;

    /* Fonts */
  --font-sans: Inter, system-ui, -apple-system, sans-serif;
  --font-mono: "JetBrains Mono", "Fira Code", Monaco, Consolas, monospace;
  --font-display: "Clash Display", Inter, system-ui, sans-serif;

}

/* Dark theme CSS variables */
:root.dark {
  --background: linear-gradient(to bottom right,
      rgba(249, 250, 251, 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(243, 244, 246, 1) 100%);
  ;
  --foreground: #ededed;
}


/* Loading skeleton */
.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, transparent 37%, #f0f0f0 63%);
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: -100% 50%;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

